@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bienvenido</title>
</head>
<body>
    <div>
        <input type="text" name="userName" value="" />
        <input type="password" name="Password" value="" />    
        <input type="button" name="login" value="Ingresar" />
    </div>
</body>
</html>
