@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bienvenido</title>
    @Html.Partial("Scripts")
    <link href="@Url.Content("css/style.css")" type="text/css" rel="Stylesheet" />
</head>
<body>
    <div class="loginbox">
        <form action="@Url.Action("Login", "Usuario")" method="post">
        <label for="Email">Email</label><input type="text" required="true" name="email" value="" />
        <label for="password">Password</label><input required="true" type="password" name="password" value="" />
        <input type="submit" name="login" value="Ingresar" />
        </form>
    </div>
</body>
</html>
